function CallObject.new 0
push constant 0
call Memory.alloc 1
pop pointer 0
push pointer 0
return
function CallObject.callEcho 2
push argument 0
pop pointer 0
push constant 4
pop local 0
call CallObject.new 0
pop local 1
push local 1
push local 0
call CallObject.echo 2
pop temp 0
push constant 0
return
function CallObject.echo 0
push argument 0
pop pointer 0
push argument 1
return
