function DoStatement.onePlusTwo 2
push argument 0
pop pointer 0
push constant 1
pop local 0
push constant 2
pop local 1
push pointer 0
push local 0
push local 1
call DoStatement.add 3
pop temp 0
push pointer 0
push local 1
push local 0
call DoStatement.add 3
pop temp 0
push constant 4
push constant 5
call something.different 2
pop temp 0
