function SquareGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
push constant 0
push constant 30
call Square.new 3
pop this 0
push constant 0
pop this 1
push pointer 0
return
function SquareGame.dispose 0
push argument 0
pop pointer 0
push this 0
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function SquareGame.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto if_true_0
goto else_start_0
label if_true_0
push this 0
call Square.moveUp 1
pop temp 0
label else_start_0
push this 1
push constant 2
eq
if-goto if_true_1
goto else_start_1
label if_true_1
push this 0
call Square.moveDown 1
pop temp 0
label else_start_1
push this 1
push constant 3
eq
if-goto if_true_2
goto else_start_2
label if_true_2
push this 0
call Square.moveLeft 1
pop temp 0
label else_start_2
push this 1
push constant 4
eq
if-goto if_true_3
goto else_start_3
label if_true_3
push this 0
call Square.moveRight 1
pop temp 0
label else_start_3
push constant 5
call Sys.wait 1
pop temp 0
push constant 0
return
function SquareGame.run 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label while_start_4
push local 1
not
not
if-goto while_end_4
label while_start_5
push local 0
push constant 0
eq
not
if-goto while_end_5
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto while_start_5
label while_end_5
push local 0
push constant 81
eq
if-goto if_true_6
goto else_start_6
label if_true_6
push constant 1
neg
pop local 1
label else_start_6
push local 0
push constant 90
eq
if-goto if_true_7
goto else_start_7
label if_true_7
push this 0
call Square.decSize 1
pop temp 0
label else_start_7
push local 0
push constant 88
eq
if-goto if_true_8
goto else_start_8
label if_true_8
push this 0
call Square.incSize 1
pop temp 0
label else_start_8
push local 0
push constant 131
eq
if-goto if_true_9
goto else_start_9
label if_true_9
push constant 1
pop this 1
label else_start_9
push local 0
push constant 133
eq
if-goto if_true_10
goto else_start_10
label if_true_10
push constant 2
pop this 1
label else_start_10
push local 0
push constant 130
eq
if-goto if_true_11
goto else_start_11
label if_true_11
push constant 3
pop this 1
label else_start_11
push local 0
push constant 132
eq
if-goto if_true_12
goto else_start_12
label if_true_12
push constant 4
pop this 1
label else_start_12
label while_start_13
push local 0
push constant 0
eq
not
not
if-goto while_end_13
call Keyboard.keyPressed 0
pop local 0
push pointer 0
call SquareGame.moveSquare 1
pop temp 0
goto while_start_13
label while_end_13
goto while_start_4
label while_end_4
push constant 0
return
